         <!-- Sponsor area -->
            <form method="get" action="https://www.buymeacoffee.com/kokili" style="display: inline;">
              <button class="btn" type="submit" style="width: 180px; height: 45px; position: relative; top: 12px; background-color: transparent; border: solid 0.5px white;" name="button"><img style="position: relative; right: 20px; bottom: 5px;"
                  src="https://www.buymeacoffee.com/assets/img/BMC-btn-logo.svg" alt="Buy me a coffee"><span style="font-size: 1rem; margin-left:5px; position: relative; right: 20px; bottom: 5px;">Buy me a coffee</span></button>
            </form>
            <span style="visibility: hidden;">xxxxxxxxx</span>
            <a class="weichat" href="https://kkkokili.github.io/weichatReward.html" style="display: inline;">

              <button class="btn" type="button" style="width: 180px; height: 45px; position: relative; top: 12px; background-color: transparent; border: solid 0.5px white;" name="button"><i style="position: relative; right: 20px; bottom: 5px; color: green;"
                  class="fa fa-weixin" style="color: green;" target="_blank" aria-hidden="true"></i>
                  <span style="font-size: 1rem; margin-left:5px; position: relative; right: 20px; bottom: 5px; color: white;">Wechat Reward</span></a></button><br>
            </a> -->
